<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../../assets/css/css.css">
<head>
	<title>Home | Forum Informatika</title>
</head>
<body>
	<nav class="my_navbar navbar navbar-expand-sm">
		<ul>
			<li><button type=""><i class="fa fa-bell"></i></button></li>
			<li><button type=""><i class="fa fa-user-circle"></i> Account</button></li>
			<li><button type=""><i class="fa fa-ellipsis-v"></i></button></li>
		</ul>
	</nav>
	<div class="row">
			<ul class="my_side">
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-newspaper"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Article</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-book"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Modul</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Laboratorium</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-bullhorn"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Announcement</label>
					</div>
				</li>
			</ul>
		<div class="col-sm-9 offset-3">
			<div class="container content">

				<!-- Button to Open the Modal -->
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-plus"></i>
						</button>

						<button class="btn"><i class="fa fa-list"></i> My Article</button>	
					</div>
					<div class="col-md-6 my_search_box">
						<form action="" method="get" accept-charset="utf-8">
							<input type="text" class="" name="search" placeholder="Search...">
							<button type="submit" class="search_button"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>

				<div class="my_article">
					<div class="row content-article">
						<div class="col-md-6">
							<div class="title">
								Lorem ipsum dolor sit amet
							</div>	
							<span class="badge badge-light">Action</span>
							<span class="badge badge-light">Comedy</span>
							<span class="badge badge-light">Rommance</span>
							<span class="badge badge-light">Supranatural</span>
							<span class="badge badge-light">Slice of Life</span>
						</div>
						<div class="col-md-6">
							<div class="keterangan">
								<table class="right">
									<tr>
										<td>Account</td>
										<td><i class="fa fa-user-circle"></i></td>
									</tr>
									<tr>
										<td>21 November 2018</td>
										<td><i class="fa fa-calendar-alt"></i></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="my_article-detail">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>

				<div class="my_article">
					<div class="row content-article">
						<div class="col-md-6">
							<div class="title">
								Lorem ipsum dolor sit amet
							</div>	
						</div>
						<div class="col-md-6">
							<div class="keterangan">
								<table class="right">
									<tr>
										<td>Account</td>
										<td><i class="fa fa-user-circle"></i></td>
									</tr>
									<tr>
										<td>21 November 2018</td>
										<td><i class="fa fa-calendar-alt"></i></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="my_article-detail">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>

				<div class="my_article">
					<div class="row content-article">
						<div class="col-md-6">
							<div class="title">
								Lorem ipsum dolor sit amet
							</div>	
							<span class="badge badge-light">Action</span>
							<span class="badge badge-light">Comedy</span>
							<span class="badge badge-light">Rommance</span>
							<span class="badge badge-light">Supranatural</span>
							<span class="badge badge-light">Slice of Life</span>
						</div>
						<div class="col-md-5">
							<div class="keterangan">
								<table class="right">
									<tr>
										<td>Account</td>
										<td><i class="fa fa-user-circle"></i></td>
									</tr>
									<tr>
										<td>21 November 2018</td>
										<td><i class="fa fa-calendar-alt"></i></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-md-1 action">
							<i class="fa fa-edit"></i><br>
							<i class="fa fa-trash"></i>
						</div>
					</div>
					<div class="my_article-detail">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <form action="" method="get" accept-charset="utf-8">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Artikel</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          	<div class="form-group">
          		<label>Judul :</label>
          		<input type="text" name="judul" class="form-control">
          	</div>
          	<div class="form-group">
          		<label>Image :</label>
          		<input type="file" name="img" class="form-control">
          	</div>
          	<div class="form-group">
          		<label>Isi :</label>
          		<textarea name="isi" class="form-control"></textarea>
          	</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        	<button class="btn"><i class="fa fa-share-square"></i> Send</button>
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
    	</form>
</body>
</html>