<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../../assets/css/css.css">
<head>
	<title>Home | Forum Informatika</title>
</head>
<body>
	<nav class="my_navbar navbar navbar-expand-sm">
		<ul>
			<li><button type=""><i class="fa fa-bell"></i></button></li>
			<li><button type=""><i class="fa fa-user-circle"></i> Account</button></li>
			<li><button type=""><i class="fa fa-ellipsis-v"></i></button></li>
		</ul>
	</nav>
	<div class="row">
			<ul class="my_side">
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-newspaper"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Article</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-book"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Modul</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Laboratorium</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-bullhorn"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Announcement</label>
					</div>
				</li>
			</ul>
		<div class="col-sm-9 offset-3">
			<div class="container content row">
				<div class="col-md-6">
					<h4 class="my_detail_article_h4">Title of Discussion</h4>
					<i class="fa fa-user-circle"></i> Account | 
					<i class="fa fa-calendar"></i> 24 November 2018
					<br>
					<div class="my_detail_article_box">
						<img src="../../assets/img/qant.jpg" alt="" class="my_detail_article_img">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Comment</h4>
					<div class="my_detail_article_comment_box">
						<div class="row my_detail_comment_content">
							<div class="col-sm-4">
								<table class="right">
									<tr>
										<td><i class="fa fa-user-circle"></i></td><td> Account</td>
									</tr>
									<tr>
										<td><i class="fa fa-calendar-alt"></i></td><td> 24/11/2018</td>
									</tr>
								</table>
								<div class="my_detail_article_comment_gap"></div>
							</div>
							<div class="col-sm-8">
								<div class="my_detail_article_comment">
									Lorem ipsum dolor sit
								</div>
							</div>
						</div>

						<div class="row my_detail_comment_content">
							<div class="col-sm-4">
								<table class="right">
									<tr>
										<td><i class="fa fa-user-circle"></i></td><td> Account</td>
									</tr>
									<tr>
										<td><i class="fa fa-calendar-alt"></i></td><td> 24/11/2018</td>
									</tr>
								</table>
								<div class="my_detail_article_comment_gap"></div>
							</div>
							<div class="col-sm-8">
								<div class="my_detail_article_comment">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim
								</div>
							</div>
						</div>

						<div class="row my_detail_comment_content">
							<div class="col-sm-4">
								<table class="right">
									<tr>
										<td><i class="fa fa-user-circle"></i></td><td> Account</td>
									</tr>
									<tr>
										<td><i class="fa fa-calendar-alt"></i></td><td> 24/11/2018</td>
									</tr>
								</table>
								<div class="my_detail_article_comment_gap"></div>
							</div>
							<div class="col-sm-8">
								<div class="my_detail_article_comment">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim
								</div>
							</div>
						</div>

						<div class="row my_detail_comment_content">
							<div class="col-sm-4">
								<table class="right">
									<tr>
										<td><i class="fa fa-user-circle"></i></td><td> Account</td>
									</tr>
									<tr>
										<td><i class="fa fa-calendar-alt"></i></td><td> 24/11/2018</td>
									</tr>
								</table>
								<div class="my_detail_article_comment_gap"></div>
							</div>
							<div class="col-sm-8">
								<div class="my_detail_article_comment">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim
								</div>
							</div>
						</div>

						<div class="row my_detail_comment_content">
							<div class="col-sm-4">
								<table class="right">
									<tr>
										<td><i class="fa fa-user-circle"></i></td><td> Account</td>
									</tr>
									<tr>
										<td><i class="fa fa-calendar-alt"></i></td><td> 24/11/2018</td>
									</tr>
								</table>
								<div class="my_detail_article_comment_gap"></div>
							</div>
							<div class="col-sm-8">
								<div class="my_detail_article_comment">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim
								</div>
							</div>
						</div>
					</div>
					<br>
					<!-- Button to Open the Modal -->
					<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-plus"></i> Tambah Komentar
					</button>
				</div>
			</div>
		</div>
	</div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <form action="" method="get" accept-charset="utf-8">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Kommentar</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          	<div class="form-group">
          		<label>Komentar :</label>
	          	<textarea class="form-control" name=""></textarea>
          	</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        	<button class="btn"><i class="fa fa-share-square"></i> Send</button>
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
    	</form>
        
      </div>
    </div>
  </div>
</body>
</html>