<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../../assets/css/css.css">
<script src="../../assets/js/show_category.js"></script>
<head>
	<title>Home | Forum Informatika</title>
</head>
<body>
	<nav class="my_navbar navbar navbar-expand-sm">
		<ul>
			<li><button type=""><i class="fa fa-bell"></i></button></li>
			<li><button type=""><i class="fa fa-user-circle"></i> Account</button></li>
			<li><button type=""><i class="fa fa-power-off"></i></button></li>
		</ul>
	</nav>
	<div class="row">
			<ul class="my_side">
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-newspaper"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Article</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-book"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Modul</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Laboratorium</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-bullhorn"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Announcement</label>
					</div>
				</li>
			</ul>
		<div class="col-sm-9 offset-3">
			<div class="container content">
				<div class="row">
					<div class="col-md-6">
						<button class="btn" onclick="toggle('all')">ALL</button>
						<button class="btn" onclick="toggle('icm')">ICM</button>
						<button class="btn" onclick="toggle('side')">SIDE</button>
						<button class="btn" onclick="toggle('tele')">TELE</button>
					</div>
					<div class="col-md-6 my_search_box">
						<form action="" method="get" accept-charset="utf-8">
								<input type="text" class="" name="search" placeholder="Search...">
								<button type="submit" class="search_button"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
				<div class="my_modul" id="icm">
					<img src="../../assets/img/ai.png" alt="">
					<div class="my_modul_content">
						Artificial Intelligence <br>
						ICM
						<br><br><br>
							admin
					</div>
				</div>

				<div class="my_modul" id="side">
					<img src="../../assets/img/if.png" alt="">
					<div class="my_modul_content">
						Modul 1 <br>
						CSS
						<br>(Casecading Style Sheet)
						<br><br><br>
							admin
					</div>
				</div>

				<div class="my_modul" id="side">
					<img src="../../assets/img/proclub.png" alt="">
					<div class="my_modul_content">
						Modul 1 <br>
						CSS
						<br>(Casecading Style Sheet)
						<br><br><br>
							admin
							<button class="btn fa fa-envelope"></button>
					</div>
				</div>

				<div class="my_modul" id="icm">
					<img src="../../assets/img/mm.jpeg" alt="">
					<div class="my_modul_content">
						Modul 1 <br>
						CSS
						<br>(Casecading Style Sheet)
						<br><br><br>
							admin
							<button class="btn fa fa-envelope"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>