<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../assets/css/css.css">
<head>
	<title>Home | Forum Informatika</title>
</head>
<body>
	<nav class="my_navbar navbar navbar-expand-sm">
		<ul>
			<li><button type=""><i class="fa fa-bell"></i></button></li>
			<li><button type=""><i class="fa fa-user-circle"></i> Account</button></li>
			<li><button type=""><i class="fa fa-ellipsis-v"></i></button></li>
		</ul>
	</nav>
	<div class="row">
			<ul class="my_side">
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-newspaper"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Article</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-book"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Modul</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Laboratorium</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-bullhorn"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Announcement</label>
					</div>
				</li>
			</ul>
		<div class="col-sm-9 offset-3">
			<div class="container content">
				<div class="my_article">
					<div class="row content-article">
						<div class="col-md-6">
							<div class="title">
								Lorem ipsum dolor sit amet
							</div>	
						</div>
						<div class="col-md-6">
							<div class="keterangan">
								<table class="right">
									<tr>
										<td>Account</td>
										<td><i class="fa fa-user-circle"></i></td>
									</tr>
									<tr>
										<td>21 November 2018</td>
										<td><i class="fa fa-calendar-alt"></i></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="my_article-detail">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>

				<div class="my_article">
					<div class="row content-article">
						<div class="col-md-6">
							<div class="title">
								Lorem ipsum dolor sit amet
							</div>	
						</div>
						<div class="col-md-6">
							<div class="keterangan">
								<table class="right">
									<tr>
										<td>Account</td>
										<td><i class="fa fa-user-circle"></i></td>
									</tr>
									<tr>
										<td>21 November 2018</td>
										<td><i class="fa fa-calendar-alt"></i></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="my_article-detail">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>

				<div class="my_article">
					<div class="row content-article">
						<div class="col-md-6">
							<div class="title">
								Lorem ipsum dolor sit amet
							</div>	
						</div>
						<div class="col-md-6">
							<div class="keterangan">
								<table class="right">
									<tr>
										<td>Account</td>
										<td><i class="fa fa-user-circle"></i></td>
									</tr>
									<tr>
										<td>21 November 2018</td>
										<td><i class="fa fa-calendar-alt"></i></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="my_article-detail">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>
			</div>
		</div>
</body>
</html>