<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../assets/css/css.css">
<head>
	<title>Home | Forum Informatika</title>
</head>
<body>
	<nav class="my_navbar navbar navbar-expand-sm">
		<ul>
			<li><button type=""><i class="fa fa-bell"></i></button></li>
			<li><button type=""><i class="fa fa-user-circle"></i> Account</button></li>
			<li><button type=""><i class="fa fa-ellipsis-v"></i></button></li>
		</ul>
	</nav>
	<ul class="my_side nav flex-column">
		<li class="nav-item row">
			<div class="col-sm-4 my_nav_item_icon">
				<i class="fa fa-book"></i>
			</div>
			<div class="col-sm-8 my_nav_item">
				<label> Article</label>
			</div>
		</li>
		<li class="nav-item row">
			<div class="col-sm-4 my_nav_item_icon">
				<i class="fa fa-book"></i>
			</div>
			<div class="col-sm-8 my_nav_item">
				<label> Article</label>
			</div>
		</li>
		<li class="nav-item row">
			<div class="col-sm-4 my_nav_item_icon">
				<i class="fa fa-book"></i>
			</div>
			<div class="col-sm-8 my_nav_item">
				<label> Article</label>
			</div>
		</li>
		<li class="nav-item row">
			<div class="col-sm-4 my_nav_item_icon">
				<i class="fa fa-book"></i>
			</div>
			<div class="col-sm-8 my_nav_item">
				<label> Article</label>
			</div>
		</li>
</body>
</html>