<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../assets/css/css.css">
<head>
	<title>Home | Forum Informatika</title>
</head>
<body>
	<nav class="my_navbar navbar navbar-expand-sm">
		<ul>
			<li><button type=""><i class="fa fa-bell"></i></button></li>
			<li><button type=""><i class="fa fa-user-circle"></i> Account</button></li>
			<li><button type=""><i class="fa fa-ellipsis-v"></i></button></li>
		</ul>
	</nav>
	<div class="row">
			<ul class="my_side">
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-newspaper"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Article</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-book"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Modul</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Laboratorium</label>
					</div>
				</li>
				<li class="nav-item row">
					<div class="col-sm-4 my_nav_item_icon">
						<i class="fa fa-bullhorn"></i>
					</div>
					<div class="col-sm-8 my_nav_item">
						<label> Announcement</label>
					</div>
				</li>
			</ul>
		<div class="col-sm-9 offset-3">
			<div class="container content">
				<h4>TOP ARTICLES</h4>
				<div class="row my-container-of-content">
					<div class="col-md-3">
						<div class="row">
							<div class="col-sm-3">
								<i class="fa fa-user-circle my-user-sign"></i>
							</div>
							<div class="col-sm-9 my-user">
								<p>8.30 AM</p>
								<p>02 November 2018</p>
							</div>
						</div>
						<div class="my-user-gap"></div>
					</div>
					<div class="col-md-9">
						<div class="my-content-box">
							<div class="title">
								Title of Article
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
				</div>
				<div class="row my-container-of-content">
					<div class="col-md-3">
						<div class="row">
							<div class="col-sm-3">
								<i class="fa fa-user-circle my-user-sign"></i>
							</div>
							<div class="col-sm-9 my-user">
								<p>8.30 AM</p>
								<p>02 November 2018</p>
							</div>
						</div>
						<div class="my-user-gap"></div>
					</div>
					<div class="col-md-9">
						<div class="my-content-box">
							<div class="title">
								Title of Article
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>