<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../assets/css/css.css">
<head>
	<title>Login | Forum Informatika</title>
</head>
<body>
	<div class="row">
		<div class="col-md-4 offset-4 login_box">
			<div class="logo"><img src="../assets/img/logo.png" class="logo-login" alt=""></div>
			<div class="form-group">
				<div class="label">
					<label>Username</label>
				</div>
				<div class="">
					<input class="form-control" type="" name="">
				</div>
			</div>
			<div class="form-group">
				<div class="label">
					<label>Password</label>
				</div>
				<div class="">
					<input class="form-control" type="" name="">
				</div>
			</div>
			<br>
			<button type="submit" class="btn my_button">Let Me In !</button>
			<br><br><br>
			<p>Haven't account yet ?<br>
			Sign Up <a href ="signup.html">here</a></p>
		</div>
	</div>
</body>
</html>