<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../assets/css/css.css">
<head>
	<title>Sign Up | Forum Informatika</title>
</head>
<body>
	<div class="row">
		<div class="col-md-8 offset-2 login_box">
			<div class="logo"><img src="../assets/img/logo.png" class="logo-login" alt=""></div>
			<div class="row">
				<div class="col-md-6" style="border-right: 3px #D3C0F8 solid">
					<div class="form-group">
						<div class="label">
							<label>Username</label>
						</div>
						<div class="">
							<input class="form-control" type="text" name="">
						</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>Email</label>
						</div>
						<div class="">
							<input class="form-control" type="email" name="">
						</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>Password</label>
						</div>
						<div class="">
							<input class="form-control" type="password" name="">
						</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>Re-type Password</label>
						</div>
						<div class="">
							<input class="form-control" type="password" name="">
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="label">
							<label>Status</label>
						</div>
						<div>
							<select name="" class="form-control">
								<option value=""></option>
								option
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>Tanggal Lahir</label>
						</div>
						<div>
							<input type="date" class="form-control" name="tanggal_lahir">
						</div>
					</div>
				</div>
			</div>
			<br>
			<button type="submit" class="btn my_button">Sign Me Up !</button>
			<br><br><br>
			<p>Haven't account yet ?<br>
			Sign Up <a href ="login.html">here</a></p>
		</div>
	</div>
</body>
</html>